@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #93c5fd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 128px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1d4ed8;
    border-radius: 128px;
}